<a href="https://colab.research.google.com/github/MarCam60/Assignment-Income-inequality-in-relation-to-GDP/blob/main/kosten_nonfuels.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df_cost = pd.read_excel('/content/kosten nonfuels.xlsx')
df_cost

,Global weighted average cost of electricity (2019 USD/kWh),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Year,Concentrating solar power,Offshore wind,Onshore wind,Solar photovoltaic
1,2010,0.3462,0.1615,0.0863,0.3783
2,2011,0.3484,0.175,0.082,0.2863
3,2012,0.3526,0.1539,0.0827,0.2226
4,2013,0.2682,0.1773,0.0817,0.1752
5,2014,0.2433,0.183,0.0755,0.1636
6,2015,0.2509,0.1686,0.0686,0.1265
7,2016,0.2904,0.1479,0.0664,0.114
8,2017,0.2534,0.1311,0.0644,0.0925
9,2018,0.1845,0.1266,0.0581,0.0787
10,2019,0.1823,0.1155,0.0528,0.0684
11,2020,0.0939,0.1257,0.0448,0.045
12,2021,0.0751,0.1189,0.0434,0.0393
13,2022,NaN,0.0968,NaN,NaN
14,2023,NaN,0.0822,NaN,NaN